// Light theme
$light-theme-background: #FFFFFF;
$light-theme-violet: #EBECFF;
$light-theme-title: #232323;
$light-theme-text: #434343;
$light-theme-placeholder: #A9A9A9;
$light-theme-active: #6E72EC;
$light-theme-hover-bg: #D6D8FF;

// Dark theme
$dark-theme-background: #202020;
$dark-theme-violet: #1A1B43;
$dark-theme-title: #DCDCDC;
$dark-theme-text: #FFFFFF;
$dark-theme-placeholder: #E2E2E2;
$dark-theme-active: #FFFFFF;
$dark-theme-hover-bg: #4D4E69;
$dark-theme-gray: #C6C6C6;

// Both
$footer-bg: #121212;
$footer-text: #FFFFFF;
$accent: #6E72EC;
$transition: .3s;