@import "normalize";
@import "variables";

body {
  font-family: "Hind", sans-serif;
  background-color: $light-theme-background;
  color: $light-theme-text;
  transition: $transition;

  &.dark {
    background-color: $dark-theme-background;
    color: $dark-theme-text;

    .title {
      color: $dark-theme-title;
    }
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  transition: $transition;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.main {
  min-height: 70vh;
  padding: 50px 0;
}

.title {
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  color: $light-theme-title;
  text-transform: capitalize;
  transition: $transition;
  margin-bottom: 32px;
}